<!-- _includes/photo.html -->

<figure class="photo-container">
    <img class="thumbnail"
         src="{{ include.small_src }}"
         data-large-src="{{ include.large_src }}"
         {% if include.aperture %}data-aperture="{{ include.aperture }}"{% endif %}
         {% if include.shutter %}data-shutter="{{ include.shutter }}"{% endif %}
         {% if include.focal %}data-focal="{{ include.focal }}"{% endif %}
         alt="{{ include.alt | default: "Photo" }}">
    <figcaption class="exif-info"></figcaption>
</figure>
